@font-face {
  font-family: 'Fraunces';
  src: url('./asserts/fonts/Fraunces/Fraunces_72pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./asserts/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./asserts/fonts/Montserrat/Montserrat-Medium.ttf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-green-500: hsl(158deg, 36%, 37%);
  --color-green-700: hsl(158deg, 42%, 18%);
  --color-black: hsl(212deg, 21%, 14%);
  --color-grey: hsl(228deg, 12%, 48%);
  --color-cream: hsl(30deg, 38%, 92%);
  --color-white: hsl(0deg, 0%, 100%);

  --font-size: 14px;

  --font-family-base: 'Montserrat';
  --font-family-heading: 'Fraunces';

  --font-weight-bold: 700;
  --font-weight-medium: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-base), sans-serif;
  font-size: var(--font-size);
  font-weight: var(--font-weight-medium);

  color: var(--color-black);

  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--color-cream);
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-family-heading), serif;
}

.card {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 1rem;
  background-color: var(--color-white);
}

.card__image {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

.card__subtitle {
  font-family: var(--font-family-base), sans-serif;
  font-size: 1rem;
  letter-spacing: 0.3rem;
  font-weight: var(--font-weight-medium);
  color: var(--color-grey);
  text-transform: uppercase;
}

.card__title {
  font-family: var(--font-family-heading), serif;
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
}

.card__description {
  font-family: var(--font-family-base), sans-serif;
  font-size: 1rem;
  line-height: 1.75rem;
  color: var(--color-grey);
}

.card__price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.card__price-current {
  font-family: var(--font-family-heading), serif;
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-green-500);
}

.card__price-old {
  text-decoration: line-through;
  color: var(--color-grey);
  font-size: 1rem;
}

.card__button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem 0;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--color-green-500);
  color: var(--color-white);
  font-family: var(--font-family-base), sans-serif;
  font-weight: var(--font-weight-medium);
  font-size: 1rem;
}

.card__button:hover {
  background-color: var(--color-green-700);
}
